<h1>
  App de ejemplo para probar los modulos de la libreria GLOBALCAJA
</h1>
<nav>
  <a routerLink="/testeditor" routerLinkActive="active">Editor de parcelas</a>
  <a routerLink="/testteledeteccion" routerLinkActive="active">Componente Teletedeccion</a>
  <a routerLink="/testerpvisor" routerLinkActive="active">Visor ERP</a>
</nav>

<router-outlet></router-outlet>
