<h1>
  {{title}}
</h1>
<label>Referencia de parcela SIGPAC: </label>
    <input [(ngModel)]="parcelaitem.sigpacid" placeholder="PROV,MUNICIPIO,ZONA,AGREGADO,POLIGONO,PARCELA" />
   <button (click)="editarparcela()">Editar</button>
  <h3>Lista de parcelas editadas (clic para volver a editar)</h3>
   <ul>
   		<li *ngFor="let parcela of parcelas" (click)="onEditParcela(parcela)">
   			Parcela editada: <span>{{parcela.area}} ha</span> - <span>{{parcela.perimetro}} m</span>
   		</li>
   </ul>
<app-osmeditor trackonchange="true" centermap="-2.1830446,40.0620325" #editor  (modificada)="parcelamodificada($event)"></app-osmeditor>
<h2>Selector de parcelas</h2>
<label>Búsqueda por municipio: </label>
   <input [(ngModel)]="consultalocalidad" />
   <button (click)="visor.buscarlocalidad(consultalocalidad)">Buscar</button>
   <input type="checkbox" [(ngModel)]="verrecintos"/>Ver recintos
<div class="row">

  <div class="col-md-6">
    <app-osmvisor #visor [recintos]="verrecintos"
     (seleccionada)="parcelaseleccionada($event)"
      centermap="-5.6630777,40.9705077"></app-osmvisor>
  </div>
  <div class="col-md-6">
    <h3>Información de parcela seleccionado</h3>
      <ul>
        <li>PROVINCIA: {{atributosparcela.PROVINCIA}}</li>
        <li>MUNICIPIO: {{atributosparcela.MUNICIPIO}}</li>
        <li>ZONA: {{atributosparcela.ZONA}}</li>
        <li>AGREGADO: {{atributosparcela.AGREGADO}}</li>
        <li>POLÍGONO: {{atributosparcela.POLIGONO}}</li>
        <li>PARCELA: {{atributosparcela.PARCELA}}</li>
        <li>RECINTO: {{atributosparcela.RECINTO}}</li>
      </ul>
      <h4>RECINTOS</h4>
      <table *ngIf="atributosparcela.RECINTOS">
        <thead>
          <tr>
            <th>RECINTO</th>
            <th>SUPERFICIE</th>
            <th>PENDIENTE</th>
            <th>USO</th>
            <th>PASTOS (%)</th>
            <th>PASTOS (HA)</th>
            <th>COEF. REGADIO</th>
            <th>INCIDENCIA</th>
            <th>REGION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of atributosparcela.RECINTOS">
              <td>{{r.RECINTO}}</td>
              <td>{{r.SUPERFICIE}}</td>
              <td>{{r.PENDIENTE}}</td>
              <td>{{r.PASTOSPERCENT}}</td>
              <td>{{r.PASTOSHA}}</td>
              <td>{{r.COEFREGADIO}}</td>
              <td>{{r.CODINCIDENCIA}}</td>
              <td>{{r.REGION}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

