<!--The content below is only a placeholder and can be replaced.-->
<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
        <form (ngSubmit)="visor.localizarParcela(sigpacid)">
          <mat-form-field class="full-width">
            <input name="consulta" [(ngModel)]="sigpacid" matInput placeholder="Buscar parcela por Id SIGPAC (PROV,MUN,ZONA,AGREGADO,POL,PARC) o buscar por municipio">
          </mat-form-field>
        </form>
        </div>
      </div>
      </div>
      </div>

      <app-visorteledeteccion #visor
       [recintos]="verrecintos"
       [configuracion] = "teleconfig"
      centermap="-1.878099,38.9921979"></app-visorteledeteccion>
    </div>
</div>
</div></div>




