<h1>
  {{title}}
</h1>
<label>Inserte json parcelas</label>
<textarea [(ngModel)]="parcelasinput" placeholder="Escribir el json de parcelas"></textarea>
<button value="Cargar" (click)="cargarparcelas()">Cargar parcelas</button>
<app-erpvisor trackonchange="true"
centermap="-2.1830446,40.0620325" #erp
[parceladetallada]="parcelas"></app-erpvisor>

